/* This is styling the post class. */
.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

/* This is styling the content class. */
.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
}

.content a:hover {
    color: var(--green-300);
}

/* Styling the header tag inside the post class. */
.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling the time tag inside the header tag. */
.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

/* Styling the author class. */
.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* This is styling the strong tag inside the authorInfo class. */
.authorInfo strong{
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

/* Styling the span tag inside the authorInfo class. */
.authorInfo span{
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
}

/* Styling the commentForm class. */
.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

/* Styling the strong tag inside the commentForm class. */
.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

/* Styling the textarea. */
.commentForm textarea {
    width: 100%;
    background: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

/* Hiding the footer. */
.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

/* Making the footer visible when the textarea is focused. */
.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

/* Styling the submit button. */
.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.1s;
}

/* Changing the background color of the button when the mouse is hovering over it. */
.commentForm button[type=submit]:hover {
    background: var(--green-300);
}

.commentList {
    margin-top: 2rem;
}